
        
body {
    	background-image: url(pikczers/widok.jpg);
      background-color: #E4FCE2;
          }
          
  .wrapper {
          	/*width:960px;
             margin:auto; */
          }
h1 {
          	font-size: 70px;
          	font-family: 'Flamenco';
          	padding: 2px 26px 2px 90px;
          	margin-top: 0;
          	background-color: #ffffff;
          	/*text-align: center;*/
          	box-shadow: 0px 3px 3px rgba(0,0,0,0.2);
          -moz-box-shadow: 0px 3px 3px rgba(0,0,0,0.2);
          -webkit-box-shadow: 0px 3px 3px rgba(0,0,0,0.2);
          }

  .content h1 {

          	font-size: 50px;
          	font-family: 'Flamenco';
          	padding: 2px 26px 2px 90px;
          	margin-top: 0;
          	background-color: #ffffff;
          	/*text-align: center;*/
          	box-shadow: 0px 3px 3px rgba(0,0,0,0.2);
          -moz-box-shadow: 0px 3px 3px rgba(0,0,0,0.2);
          -webkit-box-shadow: 0px 3px 3px rgba(0,0,0,0.2);
          }
          
nav {
	float:right;
      margin: -50px 100px ;
      padding: 10px;
    	text-align: center;
    	background-color: #ffffff;
    	/*box-shadow: 0px 3px 3px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 3px 3px rgba(0,0,0,0.2);
    -webkit-box-shadow: 0px 3px 3px rgba(0,0,0,0.2);*/
    }
          
ul {
     text-align: center;
	margin: 0;
	padding: 0px;
	list-style: none;
}
li {
	display: inline;
}
a {
	padding: 30px 30px 30px 7px;
	text-decoration: none;
		font-family: 'Flamenco'; 

	color: #000000; 
}
a:hover{
	text-decoration: none;
}

         
          #komcie {
                      width: 44%;
margin-right: auto;
margin-left: auto;
          font-size: 11px;
          text-align: center;
          height: auto;
          }
          
          
         .form-control {

          text-align: center;
          height: auto;

         }

h2 {
color: white;
padding: 20px;
background-color: rgb(65, 101, 105);

font-size: 40px;
font-family: 'Flamenco';
text-align: center;         

box-shadow: 0px 3px 3px rgba(0,0,0,0.2);
          -moz-box-shadow: 0px 3px 3px rgba(0,0,0,0.2);
          -webkit-box-shadow: 0px 3px 3px rgba(0,0,0,0.2);
}

         input {
          width: 50%;
         }

         .form-group {
          margin-right: auto;
          margin-left: auto;
          width: 50%;
         }

.content {
  padding: 10px 0px 100px 0px;
     height: auto;  
	background-color: #ffffff;
	-moz-box-shadow: 0px 3px 3px rgba(0,0,0,0.2);
-webkit-box-shadow: 0px 3px 3px rgba(0,0,0,0.2);
}
.content li {
  display: inline;
}
         
.content #tyt{

color: black;
font-size: 40px;
}
.content li a {
font-size: 15px;
color: green;

}
.content li form { 
padding: 10px;
font-size: 10px;
}

.content p {
  text-align: center;
}

.date {
  font-size: 20px;
}

#koment {
  background-color: rgb(223, 223, 223);
}

.btn-group {
  margin-left: 46%;
}