<form action="/oblicz" method="post">
	<input type="number" name="liczba1" placeholder="liczba1">
	<input type="number" name="liczba2" placeholder="liczba2"> 
	<input type="submit" value="oblicz">

</form>