.form-group

	%form{:action => "/oblicz", :method => "post", :class=>"form-control"}
		%input{:name => "liczba1", :placeholder => "liczba1", :type => "number", :class=>"form-control"}
		%input{:name => "liczba2", :placeholder => "liczba2", :type => "number", :class=>"form-control"}
		%input{:type => "submit", :value => "oblicz", :class=>"form-control"}