.jumbotron
  %h1 Hello, world!
  %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas placerat rutrum ipsum, in lobortis sem fringilla eu. Nullam tortor leo, commodo in dui eu, tincidunt accumsan ipsum. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Duis feugiat arcu eu eros porttitor tempus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Mauris ante dolor, lobortis nec lorem eu, scelerisque varius risus. Aenean enim libero, suscipit a interdum a, fermentum a dui. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. In at elit non nisl congue dignissim. Maecenas lobortis elit sapien, et imperdiet massa ultricies ac. Fusce fringilla lacus elit, eget pharetra lectus porta at. Phasellus faucibus ultrices malesuada.
  %p
    %a.btn.btn-primary.btn-lg{:role => "button", :href => "/o-mnie"} O mnie