
%h2 
	%strong LISTA POSTÓW

%ul
	- for p in @posts
		%li
			%strong
				%a{:href => "/#{p.id}/view", :id => "tyt"}= p.title 
			%a{:href => "/#{p.id}/edit"}Edytuj 
			%form{:action => "/#{p.id}/delete", :method => "post"}
				%button{:type => "submit"}Usuń
		

