%h2 Utwórz nowego posta

.form-group
	%form{ :action=>"/dodaj", :method=>"post", :class=>"form-control"}
		%label Tytuł
		%input{ :name=>"tytul", :type=>"text", :placeholder=>"Tytuł", :class=>"form-control"}
		%br	
		%label Post
		%input{ :name=>"tresc", :type=>"text", :placeholder=>"Treść", :class=>"form-control"}
		%br
		%button{:type=>"submit"} Dodaj
