
%h2
	%strong=@post.title
	.date
		=@post.created_at.strftime("%d %b %Y %H:%M")
%p
	=@post.body

%strong
	%h3{:style => "text-align: center"} ZOSTAW KOMENTARZ

.form-group
	%form{ :action=>"/comment/create", :method=>"post", :class=>"form-control", :id => "komcie"}
		%label User
		%input{ :name=>"user", :type=>"text", :placeholder=>"Nick", :class=>"form-control"}
		%br	
		%label Komentarz
		
		%input{ :name=> :komentarz, :type=> "text", :placeholder=> "Komentarz", :class=>"form-control"}
		%input{ :name=> :post_id, :type => :hidden, :value => @post.id}
		%br
		%button{:type=>"submit"} Dodaj

%strong
	%h3{:style => "text-align: center"} KOMENTARZE

%ul{:id => "koment"}
	- for c in @comments
		%li
			%strong
				=c.user 
				\:
				
			=c.body
			%br
		
