%h2 
	Edycja postu 
	=@post.title
	
.form-group
	%form{ :action => "/posts/#{@post.id}/update", :method => "post", :class=>"form-control" }
		%label Tytuł
		%input{:name => "posty[title]", :type => "text", :value  => @post.title, :class=>"form-control"}
		%label Treść
		%input{:name => "posty[body]", :type=> "text", :value => @post.body, :class=>"form-control"}
		%button{:type => "submit"} Submit